webpagetest:
  sitename: "webpagetest.example.com"
  zipurl: "https://github.com/WPO-Foundation/webpagetest/releases/download/WebPageTest-2.16/webpagetest_2.16.zip"
  zipsha: "sha256=7fc0f8c6ca188b04d2592dd1ea9909c3d325da8db9cfa1ac1faf164315de5746"
  http: "apache2" # nginx or apache2
  php: "php5" # php5 or php5-fpm
  win:
    user: "webpagetest"
    pass: "changeme"
    install_dir: 'C:\webpagetest'
    temp_dir: 'C:\wpttemp'
    zip_file: "webpagetest_2.16.zip"
  packages:
    - imagemagick
    - libimage-exiftool-perl
    - libjpeg-turbo-progs
    - php5-curl
    - php5-gd
    - php5-sqlite
    - php5-apcu
    - python-software-properties
    - unzip
  phpvars:
    upload_max_filesize: "12M"
    post_max_size: "12M"
    memory_limit: "512M"
    fpm: "unix:/var/run/php5-fpm.sock"
  settings:
    product: "WebPageTest"
    contact: "contact@domain.com"
    maxruns: 9
    allowPrivate: 0
    key: "changeme" #Do not use an & in your key
  locations:
    - name: TestLocation
      label: TestLabel
      group: TestGroup
      browsers: "Chrome,Firefox,IE"
      drivers:
        - wptdriver
        - urlblast
      default: True
