my-rackspace-config:
  # Set the location of the salt-master
  #
  minion:
    master: <IP or Hostname>
 
  # Configure Rackspace using the OpenStack plugin
  #
  identity_url: 'https://identity.api.rackspacecloud.com/v2.0/tokens'
  compute_name: cloudServersOpenStack
  protocol: ipv4
 
  # Set the compute region:
  #
  compute_region: IAD
 
  # Configure Rackspace authentication credentials
  #
  user: <username>
  tenant: <tenant>
  apikey: <apikey>
 
  provider: openstack
